@model Produto

<form asp-controller="Produto" asp-action="PostProduto" method="post">
    <input type="hidden" asp-for=ClienteId value="@ViewBag.ClienteId" />
    <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" asp-for=NomeProduto class="form-control" id="formGroupExampleInput" placeholder="Digite o nome do produto">
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <select id="categoriaSelect" class="form-select" aria-label="Default select example">
            <option selected disabled>Selecione a categoria</option>
            <option value="1">Notebooks/Pc</option>
            <option value="2">Eletro/Doméstico</option>
            <option value="3">Mouses/Teclado</option>
            <option value="4">Relogio Digital/ Relogios</option>
            <option value="5">Acessorios/Celular</option>
            <option value="6">Manutenção/Veículo</option>
            <option value="7">Acessórios para carro</option>
            <option value="8">Eletrônicos</option>
            <option value="9">Outros</option>
        </select>
        <input type="hidden" id="categoriaHidden" asp-for=Categoria />
    </div>

    <script>
        // Adiciona um ouvinte de evento ao select
        document.getElementById("categoriaSelect").addEventListener("change", function () {
            // Obtém o texto da opção selecionada
            var selectedText = this.options[this.selectedIndex].text;

            // Atribui o texto ao campo oculto
            document.getElementById("categoriaHidden").value = selectedText;
        });
    </script>
    <div class="form-group">
        <label for="formGroupExampleInput2">Preço do produto</label>
        <input type="text" asp-for=PrecoProduto class="form-control" id="formGroupExampleInput2" placeholder="Digite o preço do produto">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Descrição do produto</label>
        <input type="text" asp-for=DescricaoProduto class="form-control" id="formGroupExampleInput2" placeholder="Digite uma breve descrição do produto">
    </div>

    <div class="text-center">
        <div class="btn" role="button" aria-label="Basic example">
            <button class="btn btn-success" type="submit">Criar produto</button>
            <a role="button" asp-controller="Cliente" asp-action="Index" class="btn btn-primary">Voltar</a>
        </div>
    </div>
</form>