@model Produto

<div class="d-flex justify-content-center" style="height: 70vh;">
    <div class="text-center">
        <p class="lead">
            <h5>Descrição</h5>
            @Model.DescricaoProduto
        </p>
        <a role="button" asp-controller="Cliente" asp-action="ListarProdutos" asp-route-id="@Model.ClienteId" class="btn btn-primary">Voltar</a>
    </div>
</div>
